
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+TC:wght@200..900&display=swap');
@import "bootstrap/scss/functions";

// @import "./helpers/utilities";
@import "./helpers/variables";
@import "./helpers/variables-dark";



@import './layout/header.scss';
@import './layout/footer.scss';


@import './pages/index.scss';

@import "bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");